.association {
  margin: 5% 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* GridComponent.module.css */
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 10%;
}

.gridItem {
  position: relative;
  width: 328px;
  min-width: 300px;
  height: 400px;
  max-width: 100%;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  /* border: 2px solid #342f2f; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #fff;
}

.image_logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  position: absolute;
  object-position: center;
  /* filter: brightness(1.2); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
}

.image_layer {
  display: none;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2; */
}

.textOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 3;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
}

.description {
  font-size: 15px;
  color: #333;
  line-height: 1.5;
  text-shadow: 0 1px 2px rgba(255,255,255,0.8);
  margin: 5px 0;
}

.description div {
  margin-bottom: 8px;
}

@media screen and (max-width: 1406px) {
  .gridContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 10px;
  }
}