.education {
  margin: 5% 15%;
}

.gridContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.gridItem {
  position: relative;
  width: 266px;
  height: 297px;
  max-width: 100%;
  margin: 10px;
}

.image_logo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust the object-fit property */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: grayscale(100%); /* Grayscale the image */
  opacity: 0.7; /* Adjust the opacity as needed (0 to 1) */
}

.image_logo_a {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  filter: grayscale(100%); /* Grayscale the image */
  opacity: 0.7; /* Adjust the opacity as needed (0 to 1) */
}

.image_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(359, 68%, 46%, 0.719); /* Adjust the color and opacity as needed */
  z-index: 2;
}

.textOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  color: white; /* Text color for the overlay */
  width: 90%;
}

.year {
  font-size: 38px; 
  margin-bottom: 50px;
}

.ed_description {
  text-transform: uppercase;
}

.diploma {
  margin-top: 5px;
  font-weight: 800;
}


/********* LIST OF SCHOOLS AND CERTIFICATIONS *********/
.listofedu {
  margin-top: 10%;
  color: #959492;
  text-transform: uppercase;
  display: flex;
  line-height: 1.3;
  flex-direction: column; /* Display items vertically */
  gap: 10px; /* Adjust the gap between each set of lines */
}

.line_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.certification {
  text-align: left;
  flex-grow: 1;
  white-space: nowrap; /* Prevent text wrapping */

}

.line {
  width: 50%;
  border: 0.5px solid #959492; /* Adjust the line color as needed */
  margin: 0 10px; /* Adjust the margin to add space between the line and text */
}

.certification_location {
  text-align: right;
  flex-grow: 1;
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: clip;
}

@media screen and (max-width: 1330px) {
  .certification_location, .certification {
    white-space: normal; 
    overflow: visible; 
    text-overflow: clip;
  }
}

@media (prefers-color-scheme: dark) {
  .listofedu {
    color: white;
  }

  .line {
    border: 0.5px solid white; /* Adjust the line color as needed */
  }
}