.background_1, .background_2, .background_3,.background_4,.background_5 {
    padding: 20px 0;
    position: relative;
    /* height: 150vh; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    color: white; /* Set text color to contrast with the background */
  }

  .text {
    margin: 5% 10%;
  }

  .background_1 {
    background: url('https://images.unsplash.com/photo-1590103514966-5e2a11c13e21?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat; 
  }
  
  .background_2 {
    background: url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?q=80&w=2015&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat; 
  } 
  
  .background_3 {
    background: url('https://images.unsplash.com/photo-1559171667-74fe3499b5ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat; 
  }
  
  .background_4 {
    background: url('https://images.unsplash.com/photo-1589939705384-5185137a7f0f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat; 
  }
  
  .background_5 {
    background: url('https://images.unsplash.com/photo-1503387762-592deb58ef4e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat; 
  }
  
  .background_1::before, .background_2::before,
  .background_3::before, .background_4::before,
  .background_5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
  }

  .background_1::before, 
  .background_3::before, 
  .background_5::before {
    background: rgba(0, 0, 0, 0.8); /* Black background with 50% opacity */
  }

  .background_2::before, 
  .background_4::before {
    background: rgba(53, 5, 6, 0.8)
  }

  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .gridItem {
    margin: 35px;
    align-items: center;
    width: 350px;
    z-index: 2;
  }

  .redborder {
    border-left: 5px solid #C42629;
    margin-bottom: 20px;
    z-index: 1;
    width: 0%;
    flex: 70%;
    margin-left: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .buttons {
    text-align: center;
    line-height: 2;
    flex: 30%;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #C42629;
    border-radius: 10px;
    border: 1px solid #9e2527;
    padding: 12px;
    max-width: 240px;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height:fit-content
  }

  .titlecontainer {
    display: flex;
    flex-wrap: wrap;
  }

  .subsection_title {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin: 30px auto;
  }

  .subsection_description {
    font-size: 0.8rem;
    line-height: 1.5;
    margin: auto 5%;
  }



  .subsection_description p, .subsection_description li {
    margin-bottom: 25px;
    margin-left: 5%;
  }

.sublist {
  list-style: circle;
}

  .largeFont {
    font-size: 40px;
    text-transform: uppercase;
  }

  .definedroles li {
    margin-bottom: 0px;
  }